<div id="books-show">
  <h2>Ruby on Rails Power</h2>
  <div class="books-show-left">
    <%= image_tag('covers/ruby_on_rails_power.jpg') %>
  </div>
  <div class="books-show-right">
    <h3>Book Info:</h3>
    <ul>
      <li><strong>Category:</strong>Ruby on Rails</li>
      <li><strong>Author:</strong>Aneesha Bakharia</li>
      <li><strong>Publisher:</strong>Course Technology PTR</li>
      <li><strong>Year:</strong>2007</li>
      <li><strong>ISBN:</strong>1598632167</li>
      <li><strong>Format:</strong>Paperback</li>
      <li><strong>Pages:</strong>678</li>
    </ul>
    <%= link_to 'Buy For $5.47', 'http://www.ebay.com/itm/Ruby-Rails-Power-Comprehensive-Guide-Power-/221475598855?pt=US_Nonfiction_Book&hash=item3390f97207', class:'btn btn-success', target: '_blank' %>
  </div>
  <div class="clearfix"></div>
  <h4>Excerpt</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
