@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
  font-family: 'Arial', Sans-Serif;
  font-size: 14px;
  color: #666;
  line-height: 1.5em;
}

header{
  background: #333;
  color: #fff;
  height: 80px;
  margin-bottom: 20px;
}

footer{
  background: #333;
  color: #fff;
  height: 60px;
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
}


#books-index {
  text-align: center;
}

#books-index img {
  width: 100%;
  padding: 3px;
  border: 1px #ccc solid;
}

#books-index h3 {
  height: 50px;
}

#books-index .btn {
  display: block;
  margin-top: 20px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
